.countries {
  flex-direction: column;
  
  .filters {
    padding: 2rem 1rem 0;
    
    .search-input {
      position: relative;
      // padding: 2rem;
      width: 100%;

      input {
        width: 100%;
        height: 3.625rem;
        // text-indent: 4.5rem;
        font-size: $font-md;
        text-indent: 25%;
        border: none;
        border-radius: 6px;
        box-shadow: 0px 0px 6px 0px var(--headerShadow);
        color: var(--input);
        background: var(--element);
        
        &:focus-visible {
          outline: none;
        }
      }
      
      i.bi { 
        position: absolute; 
        top: 24%; 
        left: 10%; 
        font-size: 1.5rem;
        color: var(--input);
      }
    }
    
    .select-region {
      position: relative;
      width: 60%;
      margin: 2.625rem auto;
      padding: 1rem 1.25rem;
      font-size: 0.825rem;
      color: var(--text);
      background: var(--element);
      border: none;
      border-radius: 6px;
      box-shadow: 0px 0px 6px 0px var(--headerShadow);

      &:focus-visible {
        outline: none;
      }

      .options {
        font-size: $font-sm;
        padding: 1rem;
      }
    }
  }

  .countries-container {
    // background-color: lightcoral;
    padding: 0 3.425rem 2rem;

    .country-card {
      // border: 1px solid #000;
      border: none;
      border-radius: 6px;
      background: var(--element);
      margin-bottom: 2.625rem;
      box-shadow: 0px 0px 6px 0px var(--headerShadow);
      
      .flag-image {
        height: 50%;
        width: 100%;
        
        img {
          width: 100%;
          height: 100%;
          // height: 10rem;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          vertical-align: middle;
          
        }
      }

      .general-info {
        padding: 1.875rem 1.25rem 2.5rem;
        line-height: 1.6;
        color: var(--text);

        span {
          font-weight: 600;
        }

        h4 {
          text-align: left;
          // align-self: center;
          padding: 0;
          margin: 0;
          margin-bottom: 1.225rem;
          font-size: 1.275rem;
          font-weight: 800;
        }
      }

      // a {
      //   .button {
      //     width: 100%;
      //     color: red;
      //   }
      // }
    }
  }

  @include breakpoint-up(large) {
    .filters {
      padding: 2.5rem 2.5rem 0;
      display: flex;
      justify-content: space-between;
      height: 5.625rem;
      margin-bottom: 3rem;

      .search-input {
        width: 35%;

        input {
          width: 100%;
          height: 100%;
          font-size: 1rem;
          text-indent: 16%;
        }
  
        i.bi { 
          top: 29%; 
          left: 6%; 
          font-size: 1rem;
        }
      }

      .select-region {
        width: 20%;
        align-self: stretch;
        margin: 0;
        padding: 0 1rem;
        font-size: 1rem;
      }
    }

    .countries-container {
      padding: 0 2.5rem 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 3rem;
      grid-row-gap: 0px;
      // flex-wrap: wrap;
      // gap: 3rem;
  
      .country-card {
        margin-bottom: 2.625rem;
        box-shadow: 0px 0px 6px 0px var(--headerShadow);
        // flex: 1 1 20%;
      }
    }
  }
}