.details-view {
  padding: 2.375rem 1.5rem;

  .button {
    padding: 0.375rem 1.675rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    background: var(--element);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px var(--shadow);
    color: var(--text);
    cursor: pointer;

    .bi {
      padding-right: 8px;      
    }
  }

  .details-container {
    .big-flag-image {
      width: 100%;
      height: 225px;
      margin-bottom: 3rem;
      box-shadow: 0 0 10px 2px var(--shadow);


      img {
        width: 100%;
        height: 100%;
      }
    }

    h2 {
      margin-bottom: 2rem;
    }

    span {
      font-weight: 600;
      color: var(--text);
    }

    .details-box-1, .details-box-2 {
      line-height: 2;
      margin-bottom: 2rem;
      color: var(--text);
    }
  }

  @include breakpoint-up(large) {

    padding: 2.5rem 2.5rem 0px;

    .button {
      margin-bottom: 2rem;
    }

    .details-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 85%;
      grid-column-gap: 50px;
      grid-row-gap: 25px;

      .description {
        display: grid; 
        grid-template-columns: 1.4fr 1.5fr; 
        grid-template-rows: 0.4fr 1.6fr; 
        gap: 25px 0px; 
        grid-template-areas: 
          "country-name country-name"
          "details-box-1 details-box-2"; 
      }
        
      .big-flag-image { 
        grid-area: 1 / 1 / 2; 
      }

      .country-name { 
        grid-area: country-name; 
        margin: 3rem 0 0;
      }

      span {
        font-size: 2.125rem;
      }
      
      .details-box-1 { 
        grid-area: details-box-1; 
        font-size: 1.975rem;
      }
      .details-box-2 { 
        grid-area: details-box-2; 
        font-size: 1.975rem;
      }

      .big-flag-image {
        width: 100%;
        height: 100%;
        // margin-bottom: 15px;
  
        img {
          width: 100%;
          height: 100%;
          vertical-align: bottom;
        }
      }
    }

  }
}