
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;  
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
  background: var(--background);
  height: 100vh;
}

.app {
  background: var(--background);
  min-height: 100%;
}


h1,h2,h3,h4,h5,h6 {
  color: var(--text);
  font-weight: 800;
}

a, a:visited, a:hover {
  text-decoration: none;
  &:focus-visible {
    outline: none;
  }
}


.flex {
  display: flex;

  &-js-sb {
    justify-content: space-between;
  }

  &-js-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}
