:root {
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 100%);
  --headerShadow: hsl(0, 0%, 90%);
  --shadow: hsl(0, 0%, 60%);
}

.darkmode {
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
  --element: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --headerShadow: hsl(0, 0%, 15%);
  --shadow: hsl(0, 0%, 0%);
}

.header {
  height: 5rem;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0px 2px 4px 0px var(--headerShadow);
  background: var(--element);
}

.header__title {
  width: 70%;
  align-self: center;
  font-size: 1rem;
  font-weight: 800;
}

.header__button {
  align-self: center;
  background: transparent;
  color: var(--text);
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
  cursor: pointer;
}

.header__button:focus-visible {
  outline: none;
}

.header__button .bi {
  padding-right: 5px;
}

@media screen and (min-width: 64em) {
  .header {
    height: 4rem;
    padding: 0 2.5rem;
  }
  .header__title {
    font-size: 1.275rem;
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
  background: var(--background);
  height: 100vh;
}

.app {
  background: var(--background);
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
  font-weight: 800;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a:focus-visible, a:visited:focus-visible, a:hover:focus-visible {
  outline: none;
}

.flex {
  display: flex;
}

.flex-js-sb {
  justify-content: space-between;
}

.flex-js-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.countries {
  flex-direction: column;
}

.countries__view {
  padding: 0 3.425rem 2rem;
}

.countries__card {
  border: none;
  border-radius: 6px;
  background: var(--element);
  margin-bottom: 2.625rem;
  box-shadow: 0px 0px 6px 0px var(--headerShadow);
}

.countries__flag-container {
  height: 50%;
  width: 100%;
}

.countries__flag-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  vertical-align: middle;
}

.countries__brief-info {
  padding: 1.875rem 1.25rem 2.5rem;
  line-height: 1.6;
  color: var(--text);
}

.countries__name {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 1.225rem;
  font-size: 1.275rem;
  font-weight: 800;
}

.countries__brief-infos {
  font-weight: 600;
}

@media screen and (min-width: 64em) {
  .countries__view {
    padding: 0 2.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 0px;
  }
  .countries__card {
    margin-bottom: 2.625rem;
    box-shadow: 0px 0px 6px 0px var(--headerShadow);
  }
}

.filters {
  padding: 2rem 1rem 0;
}

.filters__search {
  position: relative;
  width: 100%;
}

.filters__search .bi {
  position: absolute;
  top: 24%;
  left: 10%;
  font-size: 1.5rem;
  color: var(--input);
}

.filters__input {
  width: 100%;
  height: 3.625rem;
  font-size: 1.125rem;
  text-indent: 25%;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 0px var(--headerShadow);
  color: var(--input);
  background: var(--element);
}

.filters__input:focus-visible {
  outline: none;
}

.filters__select {
  position: relative;
  width: 60%;
  margin: 2.625rem auto;
  padding: 1rem 1.25rem;
  font-size: 0.825rem;
  color: var(--text);
  background: var(--element);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 0px var(--headerShadow);
}

.filters__select:focus-visible {
  outline: none;
}

.filters__select-options {
  font-size: 0.875rem;
  padding: 1rem;
}

@media screen and (min-width: 64em) {
  .filters {
    padding: 2.5rem 2.5rem 0;
    display: flex;
    justify-content: space-between;
    height: 5.625rem;
    margin-bottom: 3rem;
  }
  .filters__search {
    width: 35%;
  }
  .filters__search i.bi {
    top: 29%;
    left: 6%;
    font-size: 1rem;
  }
  .filters__input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-indent: 16%;
  }
  .filters__select {
    width: 20%;
    align-self: stretch;
    margin: 0;
    padding: 0 1rem;
    font-size: 1rem;
  }
}

.country-details {
  padding: 2.375rem 1.5rem;
}

.country-details__button {
  padding: 0.375rem 1.675rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  background: var(--element);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px var(--shadow);
  color: var(--text);
  cursor: pointer;
}

.country-details__button .bi {
  padding-right: 8px;
}

.country-details__big-flag {
  width: 100%;
  height: 225px;
  margin-bottom: 3rem;
  box-shadow: 0 0 10px 2px var(--shadow);
}

.country-details__big-flag-image {
  width: 100%;
  height: 100%;
}

.country-details__country-name {
  margin-bottom: 2rem;
}

.country-details__infos {
  font-weight: 600;
  color: var(--text);
}

.country-details__box-1, .country-details__box-2 {
  line-height: 2;
  margin-bottom: 2rem;
  color: var(--text);
}

@media screen and (min-width: 64em) {
  .country-details {
    padding: 2.5rem 2.5rem 0px;
    height: calc(100vh - 65px);
  }
  .country-details__button {
    margin-bottom: 2rem;
  }
  .country-details__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85%;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
  }
  .country-details__country-name {
    grid-area: country-name;
    margin: 3rem 0 0;
  }
  .country-details__infos {
    font-size: 1.25rem;
  }
  .country-details__big-flag {
    grid-area: 1 / 1 / 2;
  }
  .country-details__big-flag {
    width: 100%;
    min-height: 100%;
  }
  .country-details__big-flag-image {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }
  .country-details__description {
    display: grid;
    grid-template-columns: 1.4fr 1.2fr;
    grid-template-rows: 0.7fr 1.3fr;
    gap: 25px 30px;
    grid-template-areas: "country-name country-name" "details-box-1 details-box-2";
  }
  .country-details__box-1 {
    grid-area: details-box-1;
    font-size: 1.5rem;
  }
  .country-details__box-2 {
    grid-area: details-box-2;
    font-size: 1.5rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0.375rem solid rgba(0, 0, 0, 0.4);
  border-top-color: #000;
  animation: spin 1s infinite linear;
}

@media screen and (min-width: 64em) {
  .loading {
    position: absolute;
    left: 50%;
    margin: 0 auto;
  }
}
