:root {
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 100%);
  --headerShadow: hsl(0, 0%, 90%);
  --shadow: hsl(0, 0%, 60%);
}

.darkmode {
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
  --element: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --headerShadow: hsl(0, 0%, 15%);
  --shadow: hsl(0, 0%, 0%);
}

.header {
  height: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  -webkit-box-shadow: 0px 2px 4px 0px var(--headerShadow);
          box-shadow: 0px 2px 4px 0px var(--headerShadow);
  background: var(--element);
}

.header h1 {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 800;
}

.header .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: transparent;
  color: var(--text);
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
  cursor: pointer;
}

.header .button .bi {
  padding-right: 5px;
}

@media screen and (min-width: 64em) {
  .header {
    height: 4rem;
    padding: 0 2.5rem;
  }
  .header h1 {
    font-size: 1.275rem;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, .app {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
  background: var(--background);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
  font-weight: 800;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-js-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-js-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:focus-visible, a:focus-visible {
  outline: none;
}

.countries {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.countries .filters {
  padding: 2rem 1rem 0;
}

.countries .filters .search-input {
  position: relative;
  width: 100%;
}

.countries .filters .search-input input {
  width: 100%;
  height: 3.625rem;
  font-size: 1.125rem;
  text-indent: 25%;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px 0px var(--headerShadow);
          box-shadow: 0px 0px 6px 0px var(--headerShadow);
  color: var(--input);
  background: var(--element);
}

.countries .filters .search-input input:focus-visible {
  outline: none;
}

.countries .filters .search-input i.bi {
  position: absolute;
  top: 24%;
  left: 10%;
  font-size: 1.5rem;
  color: var(--input);
}

.countries .filters .select-region {
  position: relative;
  width: 60%;
  margin: 2.625rem auto;
  padding: 1rem 1.25rem;
  font-size: 0.825rem;
  color: var(--text);
  background: var(--element);
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px 0px var(--headerShadow);
          box-shadow: 0px 0px 6px 0px var(--headerShadow);
}

.countries .filters .select-region:focus-visible {
  outline: none;
}

.countries .filters .select-region .options {
  font-size: 0.875rem;
  padding: 1rem;
}

.countries .countries-container {
  padding: 0 3.425rem 2rem;
}

.countries .countries-container .country-card {
  border: none;
  border-radius: 6px;
  background: var(--element);
  margin-bottom: 2.625rem;
  -webkit-box-shadow: 0px 0px 6px 0px var(--headerShadow);
          box-shadow: 0px 0px 6px 0px var(--headerShadow);
}

.countries .countries-container .country-card .flag-image {
  height: 50%;
  width: 100%;
}

.countries .countries-container .country-card .flag-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  vertical-align: middle;
}

.countries .countries-container .country-card .general-info {
  padding: 1.875rem 1.25rem 2.5rem;
  line-height: 1.6;
  color: var(--text);
}

.countries .countries-container .country-card .general-info span {
  font-weight: 600;
}

.countries .countries-container .country-card .general-info h4 {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 1.225rem;
  font-size: 1.275rem;
  font-weight: 800;
}

@media screen and (min-width: 64em) {
  .countries .filters {
    padding: 2.5rem 2.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5.625rem;
    margin-bottom: 3rem;
  }
  .countries .filters .search-input {
    width: 35%;
  }
  .countries .filters .search-input input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-indent: 16%;
  }
  .countries .filters .search-input i.bi {
    top: 29%;
    left: 6%;
    font-size: 1rem;
  }
  .countries .filters .select-region {
    width: 20%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 0;
    padding: 0 1rem;
    font-size: 1rem;
  }
  .countries .countries-container {
    padding: 0 2.5rem 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 0px;
  }
  .countries .countries-container .country-card {
    margin-bottom: 2.625rem;
    -webkit-box-shadow: 0px 0px 6px 0px var(--headerShadow);
            box-shadow: 0px 0px 6px 0px var(--headerShadow);
  }
}

.details-view {
  padding: 2.375rem 1.5rem;
}

.details-view .button {
  padding: 0.375rem 1.675rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  background: var(--element);
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px var(--shadow);
          box-shadow: 0px 0px 5px 0px var(--shadow);
  color: var(--text);
  cursor: pointer;
}

.details-view .button .bi {
  padding-right: 8px;
}

.details-view .details-container .big-flag-image {
  width: 100%;
  height: 225px;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0 0 10px 2px var(--shadow);
          box-shadow: 0 0 10px 2px var(--shadow);
}

.details-view .details-container .big-flag-image img {
  width: 100%;
  height: 100%;
}

.details-view .details-container h2 {
  margin-bottom: 2rem;
}

.details-view .details-container span {
  font-weight: 600;
  color: var(--text);
}

.details-view .details-container .details-box-1, .details-view .details-container .details-box-2 {
  line-height: 2;
  margin-bottom: 2rem;
  color: var(--text);
}

@media screen and (min-width: 64em) {
  .details-view {
    padding: 2.5rem 2.5rem 45px;
  }
  .details-view .button {
    margin-bottom: 4rem;
  }
  .details-view .details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 25px;
  }
  .details-view .details-container .big-flag-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 5 / 2;
  }
  .details-view .details-container h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 1 / 2 / 2 / 8;
    margin: 3rem 0 0;
  }
  .details-view .details-container span {
    font-size: 1.125rem;
  }
  .details-view .details-container .details-box-1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2 / 2 / 4 / 4;
    font-size: 0.975rem;
  }
  .details-view .details-container .details-box-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: 2 / 4 / 4 / 6;
    font-size: 0.975rem;
  }
  .details-view .details-container .big-flag-image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .details-view .details-container .big-flag-image img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0.375rem solid rgba(0, 0, 0, 0.4);
  border-top-color: #000;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@media screen and (min-width: 64em) {
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
  }
}
